<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         IgnorableNamespaces="uap mp">
  
  <Identity Name="com.firesdn.vpn" Publisher="CN=YourPublisher" Version="1.0.0.0" />
  <Properties>
    <DisplayName>FireSDN VPN</DisplayName>
    <PublisherDisplayName>Your Name/Company</PublisherDisplayName>
  </Properties>

  <Capabilities>
    <!-- Allow VPN client functionality -->
    <Capability Name="internetClient"/>
    <Capability Name="privateNetworkClientServer"/>
    <uap:Capability Name="vpnClient"/>
  </Capabilities>

</Package>